.input {
    width: 500px;
    height: 30px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}

#lookup-btn {
    position: absolute;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    box-shadow: none;
    position: absolute;
    right: 20px
}

#lookup-btn svg {
    min-width: 20px;
}

input {
    height: 30px;
    width: 500px;
}

.stats-container {
    width: 500px;
}


.stat-card {
    border-radius: 16px;
    width: 100px;
    height: 100px;
    background-color: var(--color-input-bg);
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    padding: 20px;
}

.stats-svg {
    color: var(--color-text-secondary);
    min-width: 38px;
    min-height: 38px;
}

.stat-card-title {
    font-size: 15px;
    margin: 0;
}

.stat-card-subtitle {
    font-size: 12.5px;
    color: var(--color-text-secondary);
    margin: 0;
}

.stat-card-large {
    height: 40px;
    width: 300px;
    flex-direction: row;
}

.stat-card-meta.large {
    margin-top: 4px;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.stat-card-title.large {
    font-size: 16px;
}

.stat-card-subtitle.large {
    font-size: 13.5px;
}